body {
    padding-top: 50px;
    padding-bottom: 40px;
}

 Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}

 Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}
.navbar-inverse {
    background-color: #d7a7d1;
    border-color: #080808;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #020202;
    background-color: #607D8B;
}
.navbar-inverse .navbar-brand {
    color: #8b0a0a;
}
.navbar-inverse .navbar-nav > li > a {
    color: #783131;
}

a {
    color: #FFEB3B;
    text-decoration: none;
}
/*course layout*/
.course{
    list-style: none;
}
.course >li{
    position: relative;
    margin-bottom: 30px;
}

    .course > li .date {
        text-align: center;
        background-color: aqua;
        color: white;
        width: 60px;
        border-radius: 8px;
    }
.course > li .details{
    position: absolute;
    top: 0;
    left: 70px;
}
